.ButtonStyle {
color: black;
font-size: x-large;
padding: 20px 20px;
margin-left: 50px;
}

.ButtonStyle:hover {
    color: #00f;
}

label {
    font-size: 20px;
    font-weight: 700;
    color: #1c87c9;
  }
  
.heading {
    font-size: xx-large;
}
.Instructions {
    font-size: medium;
}

.parent{
    width: 10000;
    height: 10000;
    border: 5px solid #000;
}

.Crosswordarea {
width: 750px;
height: 750px;
border: 5px solid #000;
display: inline-block;

}

.Crosswordhints{
    width: 500px;
    height: 500px;
    border: 5px solid #000;
    display: inline-block; 
    }
    
.Generatorbutton{
    color: black;
    font-size: large;
    margin-left: 50px;
    padding: 5px 10px;
   }

   .Generatorbutton:hover {
    color: #00f;
}

.hints-frame{
    width: 400px;
    height: 550px;
    position: fixed;
    font-size: small;
    bottom: 0;
    right: 0;
    font-family: 'Courier New', Courier, monospace;

    
    display: inline-block;
    border: 3px solid #333333;

    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
 
    background: #ffffff;

    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }

input
{
    text-transform: uppercase
}

ul {
    list-style-type: none;
}